<div class="mx-auto max-w-7xl px-4 pb-8 sm:px-6 lg:px-8">
  <div class="relative flex">
    <div
      id="map"
      class="border-surface-3 min-h-128 w-full rounded-2xl border object-cover bg-blend-multiply lg:rounded-l-2xl"
    ></div>

    {% include "partials/contact-info-card.html" %}
  </div>
</div>
{% include "partials/contact-form.html" %}

<script>
  mapboxgl.accessToken =
    "pk.eyJ1IjoibnNsZCIsImEiOiJjbTdnNjkwa2owbXpsMmpzNzA2aTFweDQzIn0.iFsn26SSNMkR_sSiEANCag";
  const map = new mapboxgl.Map({
    container: "map", // container ID
    style: "mapbox://styles/mapbox/light-v11", // style URL
    center: [18.0443, 59.3269], // starting position [lng, lat]
    zoom: 13, // starting zoom
  });
  const marker = new mapboxgl.Marker({
    color: "var(--color-brand)",
  })
    .setLngLat([18.0443, 59.3269])
    .addTo(map);
</script>
