<div class="flex gap-2 flex-col staggered-item">
  <div class="h-48 rounded-lg bg-indigo-100 flex items-center justify-center">
    {% set img_path = "static/img/" ~ person.slug ~ ".jpg" %} {% set img =
    resize_image(path=img_path, width=400, height=300, format="webp") %}
    <img
      src="{{img.url}}"
      alt="{{person.title}}"
      class="h-full w-full aspect-square object-cover saturate-0 hover:saturate-100 transition duration-300"
    />
  </div>
  <div>
    <p class="text-lg font-semibold text-gray-900">{{person.title}}</p>
    <p class="text-sm text-gray-500">{{person.extra.jobTitle}}</p>
  </div>
</div>
