<footer class="border border-t border-gray-300 bg-white py-12">
  <div class="mx-auto flex max-w-7xl flex-col gap-8 p-4 sm:px-6 lg:px-8">
    <div class="flex flex-col justify-center gap-8 md:flex-row">
      {% for navItem in config.extra.menu_pages %}
      <a href="{{ navItem.url }}" class="navigation-link">
        {{ navItem.name }}
      </a>
      {% endfor %}
    </div>
    <div class="text-center">© 2025 {{ config.extra.firm.name }}</div>
    <div class="text-center">
      <p class="text-sm text-gray-600">
        Made with love by <a href="https://cv.nsld.se">NSLD</a>.
      </p>
      <p class="text-sm text-gray-600">
        Statically hosted in Sweden by <a href="#">statichost.eu</a>
      </p>
    </div>
  </div>
</footer>
