{#
<section class">
    <hgroup>
      <h1 class="hero-title">{{ config.extra.firm.name }}</h1>
      <p class="under-hero">{{ config.extra.firm.description }}</p>
    </hgroup>
    <div class="button-list">
      <button class="button primary">Skicka ett brev</button>
      <button>Kontakta oss</button>
    </div>
  </div>

  <div class="hero-image">
    <img src="/home.webp" alt="Hero image" />
  </div>
</section>
#}
<section class="py-12 bg-white">
  <div class="max-w-7xl ">
    <h1>{{page_title}}</h1>
    <p>{{page_subtitle}}</p>
    {% if cta_text and cta_link %}
    <a href="/{{cta_link}}"
      ><button class="btn btn-primary">{{cta_text}}</button></a
    >
    {% endif %}
  </div>
</section>
