<section class="pt-12">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-6">
    <hgroup class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-xl font-semibold text-blue-900 uppercase">
        {{page_tagline}}
      </h2>
      <h1
        class="mt-2 text-5xl font-semibold tracking-tight text-pretty sm:text-7xl lg:text-balance"
      >
        {{page_title}}
      </h1>
    </hgroup>
    {% set divider_title = "Verksamhetsområden" %} {% set divider_id =
    "verksamhetsomraden" %} {% include "partials/divider.html" %} {% include
    "partials/service-list.html" %}
  </div>
</section>
