<div class="navbar">
  <nav class="navigation max-width-lg centered-content">
    <div>
      <a href="/" class="navigation-brand"> EDA </a>
    </div>
    <!-- Mobile Toggle -->
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <label for="nav-toggle" class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <ul class="navigation-list">
      <li class="navigation-item">
        <a href="/#specialister-pa-brottmal"
          ><span>Specialister på brottmål</span></a
        >
      </li>
      <li class="navigation-item">
        <a href="/#medarbetare"><span>Medarbetare</span></a>
      </li>
      <li class="navigation-item">
        <a href="/#tjanster"><span>Våra tjänster</span></a>
      </li>
      <li class="navigation-item">
        <a href="/#kontakt"><span>Kontakt</span></a>
      </li>
    </ul>
  </nav>
</div>
