<div class="relative stagger fade-in">
  <dt class="mb-2">
    {% if service.extra.icon %} {% set icon_path = "static/icon/" ~
    service.extra.icon ~ ".svg" %} {% set icon = load_data(path=icon_path) %}
    <div
      class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-700"
    >
      {{ icon | safe }}
    </div>
    {% endif %}
    <p class="ml-16 text-lg leading-6 font-bold text-gray-900">
      {{ service.title }}
    </p>
  </dt>
  <dd class="ml-16 text-gray-900">
    {{ service.description }}
    <a href="/verksamhetsomrade/{{service.slug}}">Läs mer ></a>
  </dd>
</div>
