* {
  scroll-behavior: smooth;
}
.icon-tabler {
  stroke: var(--color-decorative-icon);
}

.employee-icon > .icon-tabler {
  stroke: var(--color-inline-icon);
  height: 1em;
}

.contact-icon > .icon-tabler {
  stroke: var(--color-inline-icon);
}

a {
  text-decoration: underline dotted;
  color: var(--color-link);

  &:hover {
    text-decoration: underline;
    color: var(--color-link-hover);
  }
}
