* {
  scroll-behavior: smooth;
}
.icon-tabler {
  stroke: var(--color-blue-100);
}

.employee-icon > .icon-tabler {
  stroke: var(--color-gray-600);
  height: 1em;
}

.contact-icon > .icon-tabler {
  stroke: var(--color-blue-700);
}

a {
  text-decoration: underline dotted;

  &:hover {
    text-decoration: underline;
    color: var(--color-gray-700);
  }
}
